body{
    margin : 0px;
    font-size: 15px;
    font-family: arial;
    color:#fff;
    background-color: #0C0032;
    background-repeat: repeat-x;
    /* #423288 */
    
}
.header{
    width:98.8%;
    margin-left:9px;
    background-size: 100% 270px;
    background-image: url(/22H1120116_TRANLEMINHTAN/HINH/anh1.jpg);
 
}
.outer{
    width: 943px;
    text-align: center;
    margin: 0 auto;

}
.container{
    width: 100%;
}
.container .read-more a:hover{
    text-decoration: underline;
}
#logo-bg{
    width:320px;
    height: 220px;
    float:left;
    margin-left: -180px;
    margin-top:-20px;
}
#logo-bg h1{
    font-size: 35px;
    color: #ea388b ;
    font-family: Geneva,Arial, Helvetica, sans-serif;
    padding-top: 50px;
    letter-spacing: -1px;
}
.tag{
    font-size: 13px;
    text-transform: uppercase;
    color:#AAABB8;
    padding-left: 20px;
    padding-top: 10px;
}
#film{
    width:603px;
    height: 220px;
    float:left;
    background-image: url();
    background-repeat: no-repeat;
}
.clear{
    clear:both;
}

#bg{
    width:1430px;
    height:40px;
    background-image: url();
    background-repeat: repeat-x;
    margin:0 auto;
    margin-top: 10px;
    margin-left:-240px;
    display:flex;
    color: #EA388B;
    text-align: center;
    font-weight: bold;
}
#toplinks{
    width:120px;
    text-align: center;
    float:left;
    height:38px;
    line-height: 38px;
    font-family:Tahoma;
    font-size: 11px;
    text-transform: uppercase;
    font-weight:bold;

    
}
#toplinks a {
    color:#F64C72;
    text-decoration: none;
}
#toplinks:hover{
   background-color:rgb(0,0,0,0.1);
}
#toplinks a :hover{

    text-decoration: none;
}
#log_in{
   margin-left: 720px;
   font-family:tahoma;
   font-size:11px;
   font-weight:bold;
   height:40px;
   line-height: 40px;
   text-transform: uppercase;
   text-align: center;
}
#log_in a{
    color:#F64C72;
    text-decoration: none;
}
#log_in:hover{
    background-color:rgb(0,0,0,0.1);
}
.sap{
    width:1px;
    float:left;
    height:38px;
    font-size:11px;
    line-height:38px;
    color:#211161;    
}
#outer2{
    width: 943px;
    text-align: left;
    padding-left:256px;
    padding-right:257px;
    margin-left:0px;
    margin-top:0px;
    border:4px solid #F64C72;  
    border-bottom: none;
    border-right:none;
    border-left:none;
}
.container{
    width:98.9%;
    height:600px;
    background-color: #423288;
    margin-left:8px;
    margin-bottom: -60px;

}
.contact h2{
    margin-top: 40px;
    text-align: center;
    color:#F64C72;
}
.content-contact h2{
    margin-top:-10px;
}
.content-contact{
    font-style: bold;
    background-color: #211161;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #0C0032;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    
}
 input{
    width: 90%;
    padding: 13px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color:#A0A3A7;
}
 #name{
    width:94.4%;

}
 #email{
    width:45%;

   
}
#phone_number{
    width:45%;
    right:0;
    
}
#content{
    width:94.4%;
    padding-bottom:40px;
    margin-bottom: 20px;
}
button{
    background-color: #EA388B;
    height:50px;
    width:90px;
    text-align: center;
    border-radius: 30px 30px 30px 0px;
    margin-top:20px;
    margin-left :310px;
    border:3px solid #0C0032;
    color:#ccc;
    cursor: pointer;
    font-weight: bold;
    
   
}

button:hover{
    background-color: #145ead;
    color:#EA388B;
    font-weight: bold;


}
.footercontent{
    width:98.9%;
    height:50px;
    display:flex;
    background-color: #0C0032;
    margin-top: 60px;
    text-align: center;
    border-top: #4319ec solid 5px;
    margin-left:8px 
    
}
.footercontent a{
    text-decoration: none;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 23px;
    font-size: 13px;
    color:#ea388b;
    font-style: bold;
    font-weight:bold;


}
.footercontent a:hover{
    text-decoration: underline;
}